/* Styling custom elements inside of the Bootstrap grid system */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');



body {
  margin: 0;

}

.header {
  height: 100%;
  width: 100%;
  /* background: url('agile-1.jpg') no-repeat;
  background-size: cover; */

}

.header-inner {
  background-color: aqua;
  padding-top: 1.5%;

}

.header h1 {
  font-size: 120px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -5px;
  /* font-weight: 600; */

}

.subtitle p {
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-size: 120%;
}

.fixed-image {
  background: url('code.jpg') no-repeat center center fixed;
  height: 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;



/* 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}


.two {
  height: 100%;
  background-color: bisque;
}
