/* Styling custom elements inside of the Bootstrap grid system */

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");

/* GLOBALS */
/* -------------------------------------------------------------------- */

body {
  margin: 0 auto;
  background: #111111;
  margin-top: 56px;
  font-size: 16px;
}

h1 {
  font-size: 40%;
}

p {
  margin: 0px;
}

a,
a:link,
a:active {
  color: aqua;
  font-family: "Josefin Sans", sans-serif;
}

a:hover {
  color: red;
}

/* NAVIGATION */
/* -------------------------------------------------------------------- */
.navbar-katie {
  background: #222222;
  font-size: 80%;
}

/* HEADER */
/* -------------------------------------------------------------------- */

.header {
  height: 100%;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-color: blanchedalmond;
  margin-top: 65px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header {
    background: salmon;
    height: 100vh;
    /* to offset navbar */
    /* margin-top: -55px; */
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .header {
    background: salmon;
    height: 100vh;
    /* to offset navbar */
    /* margin-top: -55px; */
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    background: saddlebrown;
    height: 100vh;
    /* padding-top: 2%; */
  }
}

/* for viewports under 320px */

.header-inner {
  /* background-color: aqua; */
  /* padding-top: 1.5%; */
  font-size: 950%;
}

@media (min-width: 320px) and (max-width: 576px) {
  .header-inner {
    /* background-color: indigo; */
    font-size: 100%;
    /* margin-top: -20%; */
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header-inner {
    background-color: greenyellow;
    margin-top: 1%;
    font-size: 450%;
  }
}

/* Title */

.header h1 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: -3%;
  font-size: 120%;
  text-align: center;
  margin-top: 2%;
  /* border-bottom: 10px solid #111111; */
}

@media (min-width: 320px) and (min-width: 373px) {
  .header h1 {
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: -3%;
    font-size: 200%;
    text-align: center;
    margin-top: 2%;
  }
}

@media (min-width: 373px) and (min-width: 576px) {
  .header h1 {
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: -3%;
    font-size: 100%;
    text-align: center;
    margin-top: 2%;
  }
}

.katie-img {
  width: 75%;
  margin-top: -25%;
}

@media (min-width: 320px) and (max-width: 450px) {
  .katie-img {
    width: 80%;
    margin-top: -20%;
  }
}

@media (min-width: 450px) and (max-width: 576px) {
  .katie-img {
    width: 75%;
    margin-top: -5%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .katie-img {
    width: 60%;
  }
}

/* SUBTITRE */
/* -------------------------------------------------------------------- */

.subtitle p {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-size: 110%;
  text-align: center;
  margin-top: -25%;
}

@media (min-width: 320px) and (max-width: 450px) {
  .subtitle p {
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    text-align: center;
    background: yellow;
    margin-top: -40%;
  }
}

@media (min-width: 450px) and (max-width: 576px) {
  .subtitle p {
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    font-size: 100%;
    text-align: center;
    background: olivedrab;
    margin-top: -10%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .subtitle p {
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    font-size: 110%;
    background: olive;

    /* margin-top: 2%; */
  }
}

/* FIXED IMG */
/* -------------------------------------------------------------------- */

.fixed-image {
  background: url("code.jpg") no-repeat center center fixed;
  height: 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ROWS */
/* -------------------------------------------------------------------- */
.two,
#two {
  height: 100%;
  background-color: green;
}

.three,
#three {
  height: 100%;
  background-color: red;
  display: flex;
}

.four,
#four {
  height: 100%;
  background-color: green;
  display: flex;
}

.page-footer {
  background: red;
  text-align: center;
  padding: 1%;
  display: flex;
}
